@import "tailwindcss";

@theme {
    --color-primary-100: #FFE8F0;
    --color-primary: #EE2B69;
    --color-secondary: #FBE843;
    --color-black-100: #333333;
    --color-black-200: #141413;
    --color-black-300: #7D8087;
    --color-black: #000000;
    --color-white-100: #F7F7F7;
    --color-white: #FFFFFF;
    --font-work-sans: var(--font-work-sans);
    --radius: 12px;
    --radius-lg: var(--radius);
    --radius-md: calc(var(--radius) - 2px);
    --radius-sm: calc(var(--radius) - 4px);
    --shadow-100: 2px 2px 0px 0px rgb(0 0 0 / 1);
    --shadow-200: 2px 2px 0px 2px rgb(0 0 0 / 1);
    --shadow-300: 2px 2px 0px 2px rgb(238 43 105 / 1);
}

@layer base {
    :root {
        --radius: 12px;
    }
    .dark {}
    .rounded-lg { border-radius: var(--radius-lg) !important; }
    .rounded-md { border-radius: var(--radius-md) !important; }
    .rounded-sm { border-radius: var(--radius-sm) !important; }
}

@layer utilities {
    .bg-primary { background-color: var(--color-primary) !important; }
    .bg-primary-100 { background-color: var(--color-primary-100) !important; }
    .text-primary { color: var(--color-primary) !important; }
    .text-primary-100 { color: var(--color-primary-100) !important; }

    .bg-secondary { background-color: var(--color-secondary) !important; }
    .text-secondary { color: var(--color-secondary) !important; }

    .bg-black-100 { background-color: var(--color-black-100) !important; }
    .bg-black-200 { background-color: var(--color-black-200) !important; }
    .bg-black-300 { background-color: var(--color-black-300) !important; }
    .bg-black { background-color: var(--color-black) !important; }
    .text-black-100 { color: var(--color-black-100) !important; }
    .text-black { color: var(--color-black) !important; }

    .bg-white-100 { background-color: var(--color-white-100) !important; }
    .bg-white { background-color: var(--color-white) !important; }
    .text-white-100 { color: var(--color-white-100) !important; }
    .text-white { color: var(--color-white) !important; }

    .font-work-sans { font-family: var(--font-work-sans) !important; }

    .shadow-100 { box-shadow: var(--shadow-100) !important; }
    .shadow-200 { box-shadow: var(--shadow-200) !important; }
    .shadow-300 { box-shadow: var(--shadow-300) !important; }
}

@media (min-width: 475px) {
    .xs\:text-sm { font-size: 0.875rem; line-height: 1.25rem; }
    .xs\:p-4 { padding: 1rem; }
}
